
.mid6{
    background-color: #212432;
    color: white;
    padding: 5% 0;
    margin: 0;
    text-align: center;
}

.mid6 a{
    text-decoration: none;
    color: white;
}

.mid6 i{
    margin: 2% 3%;
}